name: can_move_common_utils
description: A new Flutter project.
version: 0.0.1
publish_to: none

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  google_fonts: ^2.1.0
  cloud_firestore: ^2.4.0
  firebase_auth: ^3.0.1
  firebase_auth_web: ^3.0.0
  hive: ^2.0.4
  hive_flutter: ^1.1.0
  catcher: ^0.6.7
  images_picker: ^1.2.4
  animations: ^2.0.1
  oktoast: ^3.0.0
  flutter_hooks: ^0.17.0
  hooks_riverpod: ^0.14.0+4
  flutter_rating_bar: ^4.0.0
  cached_network_image: ^3.1.0
  google_maps_webservice: ^0.0.20-nullsafety.5
  flutter_polyline_points: ^1.0.0
  google_maps_flutter: ^2.0.6
  location: ^4.3.0
  json_serializable: ^6.1.3
  geoflutterfire2: ^2.3.4
  auto_route: ^3.2.1
  geolocator: ^8.0.1
  google_maps_flutter_web: ^0.3.2
  shared_preferences: ^2.0.6
  firebase_messaging: ^11.2.5
  fdottedline:
    git:
      url: https://github.com/Taskulu/fdottedline.git
      ref: null-safety


dev_dependencies:
  flutter_test:
    sdk: flutter
  freezed: ^0.14.2
  build_runner: ^2.0.6


# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # To add assets to your package, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/assets-and-images/#from-packages
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # To add custom fonts to your package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/custom-fonts/#from-packages
